API_KEY=key
EMAIL= your email
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=phone-tokens
DATABASE_URL=postgres://postgres:238365@localhost:5432/phone-tokens?sslmode=disable

HTTP_PORT:8080
JWT_SECRET:babababa
JWT_EXPIRES_IN_SEC:1000000
NOVOFON_API_KEY=your_novofon_api_key
NOVOFON_API_SECRET=your_novofon_api_secret
NOVOFON_BASE_URL=https://api.novofon.com
NOVOFON_TIMEOUT_SEC=10
